<div ng-controller="homeController">
  <h1> Vulcan Information Portal: Registration </h1>
  <br/><br/><br/>
  <div>
    <div class="centerScreen" carousel interval="5000">
      <div slide ng-repeat="slide in slides" active="slide.active">
        <div style="background:url({{slide.slideLoc}}) center center; background-size:contain; background-repeat:no-repeat;height:350px;">
        </div>
      </div>
    </div>
  </div>
</div>