<div ng-controller="weeklyController">
	<h2>Weekly Reports</h2>

	<div accordion close-others="true" class="centerScreen">
    <div accordion-group heading="{{group.title}}" ng-repeat="group in present">
      <!-- {{group.slidesLoc}} <br/> -->
      <span ng-show="group.pptLoc.indexOf('https://docs.google.com/') != -1">
        <a href="{{group.pptLoc}}" target="blank">{{group.title}} powerpoint</a> <br/>
      </span>
      <span ng-show="group.reportLoc.indexOf('https://docs.google.com/') != -1">
        <a href="{{group.reportLoc}}" target="blank"> {{group.title}} Report</a>
      </span>
    </div>
  </div>
  <!--<p ng-repeat="item in list">
	id:{{item.id}}
	name: {{item.name}}
	</p>-->
  
</div>